h1,
h2 {
    background-color: rgb(255, 225, 168);
    color: rgb(97, 0, 13);
    text-align: center;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}
img {
    width: 500px;
    height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2 {
font-size: 25px;
}
p,
li { 
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(54, 28, 1);
}