h1,
h2 {
    background-color: rgb(205, 241, 138);
    color: rgb(75, 42, 80);
    text-align: center;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}
img {
    width: 460px;
    height: 450px;
}
h2 {
font-size: 25px;
}
p,
li { 
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(54, 28, 1);
}